body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: lightgray;
    border-bottom: 1px solid black;
}
/* o comando body aparece na primeira linha, pois o arquivo ja esta em css